body{
    background-color: var(--inci-neutral-100);
}

.card-logo{
    max-height: 75px;
    object-fit: contain
}

.card{
    max-width: 350px;
    height: 235px;
}

.card-subtitle{
    color: var(--inci-neutral-700);
}

.hub-nav{
    background-color: #0C228F;
    color: white;
}

.nav-item a{
    color: white;
    text-decoration: none;
}

.nav-item span{
    color: var(--inci-blue-300)
}

.main{
    transition: all 0.35s ease-in-out;
}

h2{
    color: var(--inci-blue-700);
}