body{
    background-color: var(--inci-neutral-100);
}

.content{
    background-color: var(--inci-neutral-0);
    border-radius: 10px;
}

#passRec a, .footer a{
    text-decoration: none;
    color: var(--inci-neutral-900);
}

.auth-btn a{
    text-decoration: none;
    color: var(--inci-blue-600);
    font-weight: 500;
}

.login-help p, .login-help a{
    font-size: 14px;
}