{% include "base/head.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Hub</title>
    <script defer type="text/javascript" src="{% static 'js/user_access.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/hub.css' %}">
</head>
<body>
    {% include "components/navbar.html" %}

    <div class="d-flex flex-row h-100">
        {% include "components/sidebar.html" %}

        <div class='main col col-10 container-flex px-4'>
            <div class='pf-cont mt-3'>
                <h2>Nossas plataformas</h2>
                <p>Escolha um ícone para entrar</p>
                <div id='plataformas-ls' class='row mt-3 d-flex row-cols-2 row-cols-lg-4'>
                </div>
            </div>

            <hr>

            <div class='pf-cont mt-3'>
                <h2>Principais ferramentas</h2>
                <p>Escolha um ícone para entrar</p>
                <div id='ferramentas-ls' class='row mt-3 d-flex row-cols-2 row-cols-lg-4'>
                </div>
            </div>
        </div>
    </div>
</body>
</html>