<ul class='sidebar col col-2 py-3 px-4 h-100'>
    <li class='sidebar-link row p-2 my-2'>
        <a class="icon-link" href="#">
            <span class="material-symbols-outlined">home</span>
            Home
        </a>
    </li>
    <li class='sidebar-link row p-2 my-2'>
        <a class="icon-link" href="#">
            <span class="material-symbols-outlined">group</span>
            Alunos
        </a>
    </li>
    <li class='sidebar-link row p-2 my-2'>
        <a class="icon-link" href="#">
            <span class="material-symbols-outlined">monetization_on</span>
            Pagamentos
        </a>
    </li>
    <li class='sidebar-link row p-2 my-2'>
        <a class="icon-link" href="#">
            <span class="material-symbols-outlined">low_density</span>
            Cursos
        </a>
    </li>
    <li class='sidebar-link row p-2 my-2'>
        <a class="icon-link" href="#">
            <span class="material-symbols-outlined">help</span>
            Central de Ajuda
        </a>
    </li>
    <li class='sidebar-link row p-2 my-2'>
        <a class="icon-link" href="#">
            <span class="material-symbols-outlined">workspace_premium</span>
            Certificado impresso
        </a>
    </li>

    <hr>
    <p>Ferramentas</p>

    <li class='sidebar-link row p-2 my-2'>
        <a class="icon-link" href="#">
            <span class="material-symbols-outlined">tools_ladder</span>
            Recursos
        </a>
    </li>
    <li class='sidebar-link row p-2 my-2'>
        <a class="icon-link" href="#">
            <span class="material-symbols-outlined">query_stats</span>
            Analytics
        </a>
    </li>
    <li class='sidebar-link row p-2 my-2'>
        <a class="icon-link" href="#">
            <span class="material-symbols-outlined">campaign</span>
            Whats Push
        </a>
    </li>

    <hr>

    <li class='sidebar-link row p-2 my-2'>
        <a id='config' class="icon-link" href="#">
            <span id='config' class="material-symbols-outlined">settings</span>
            Configuração
        </a>
    </li>
    <li class='sidebar-link row p-2 my-2'>
        <a class="icon-link" id='logout' href="{% url 'logout' %}">
            <span id='logout' class="material-symbols-outlined">mode_off_on</span>
            Sair
        </a>
    </li>
</ul>